.activeDay {
    width: 40px !important;
    height: 40px !important;
    background-color: #DFBD43 !important;
    transition: 0.5s all !important;
}

.activeWeek {
    color: #DFBD43 !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    transition: 0.5s all !important;
}